body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.4;
  background-color: #ffffff;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block; /* maddelere göre düzenleme*/
}
svg {
  position: absolute;
}
/*
HEADER BÖLÜMÜ KODLARI BAŞLANGIÇ 
*/
.head-main {
  border-bottom: 1px solid #e7e9fc;
}

.container-header-main {
  display: flex;
  align-items: center;
  /* margin-left: unset; */
  justify-content: center;
}

.head-href {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
  margin-right: 76px;
}
.span-href {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.head-nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.main-menu-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 40px;
  margin-left: 30px;
}
.main-menu-list-studio {
  margin-right: 76px;
}
.main-menu-list-a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
  margin-right: 76px;
  padding: 24px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.main-menu-list-a::after {
  content: "";
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header-list-menu .active::after {
  background-color: black;
}

.main-menu-list-a:hover {
  text-decoration: underline;
  color: #4d5ae5;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-menu-list-a:hover::after {
  opacity: 1;
  width: 100%;
  transition-property: color;
  border-width: 0;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-menu-list a:focus {
  color: #4d5ae5;
}
.main-menu-list-studio:active {
  text-decoration: underline;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-list {
  display: flex;
  gap: 40px;
  font-size: 16px;
}
.adres-list li {
  padding: 10px;
  display: inline-flex;
}
.adres-list li a {
  list-style-type: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2e2f42;
}

.adres-list address a:hover {
  color: #404bbf;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-list ul {
  display: flex;
  gap: 40px;
}

/*
HEADER BÖLÜMÜ KODLARI BİTİŞ 
*/

.span-href-footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

/*SECTİON EFECTİVE BAŞLANGIÇ*/
.container-efective {
  /* ödev 4 arka plan başlangıç*/

  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.png");
  background-size: cover;
  background-position: center;

  /* ödev 4 arka plan bitiş */
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  top: 72px;
  text-align: center;
  padding: 188px 0;
  align-items: center;
}

.efective-hbas {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
}

.button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-top: 40px;
}
.button:hover {
  background-color: #404bbf;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*SECTİON EFECTİVE BİTİŞ*/

/* SECTİON FİRST TEXTLERİN BAŞLANGICI*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.frt-txt-hbas {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.first-text-lim {
  width: calc((100% - 72px) / 4);
}
.first-text p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.container-first-section {
  margin-bottom: 120px;
  padding: 120px 0;

  text-align: center;
}
.first-text {
  display: flex;
  align-items: center;
  width: 1128px;
  height: 104px;
  gap: 24px;
}
.container-first-section .first-text li {
  list-style-type: none;
}

.first-section-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  padding-top: 15px;
  padding-right: 60px;
}

/* SECTİON FİRST TEXTLERİN BİTİŞİ*/

/* OUR TEAM BAŞLANGIÇ*/
.social-media-group svg {
  position: relative;
}

.our-img-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}
.our-img-list p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;

  color: #434455;
}
.person-img-team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
}
.person-img-team p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
  text-align: center;

  height: 732px;
  align-items: center;
  padding: 120px 0;

  padding-top: 120px;
}

.our-team-head {
  display: block;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.person-img-team {
  /* UL CLASSI /*/
  display: flex;
  gap: 24px;
}
.person-img-li {
  /* Lİ CLASSI */

  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;



  /*  ödev 4 gölge efekti  */
}
.list-one-person {
  padding: 32px 0;
}
.list-one-hbas {
  text-align: center;
  margin-bottom: 8px;
}
.list-one-p {
  text-align: center;
}
.our-team li {
  list-style-type: none;
}

/*ödev 4 sosyal medya başlangıç*/

/*ödev 4 sosyal medya bitiş*/

/* OUR TEAM BİTİŞ*/

/* OUR PORTFOİLO BAŞLANGIÇ*/
.our-portfolio {
  padding: 120px 0;
}

.our-port-head {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}

.our-img-list .our-img-li {
  width: calc((100% - 48px) / 3);
}

/*Ödev 4 hover gölge efekti başlangıç */
.our-img-li:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.our-img-li:hover .kaplama-metin {
  opacity: 1;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Ödev 4 hover gölge efekti başlangıç */

.our-img-list img {
  width: 360px;
  height: 300px;
}

.list-one-port {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.list-one-port .list-one-port-hbas {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.kaplama-metin {
  background-color: #4d5ae5;
  border-style: groove;
  position: absolute;
  width: 360px;
  height: 300px;
  opacity: 0;
}
.kaplama-metin:hover {
  opacity: 100;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.kaplama-metin p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
}
/* OUR PORTFOİLO BİTİŞ*/

/* FOOTER BAŞLANGIÇ*/

.footer-menu {
  background-color: #2e2f42;

  height: 312px;
  padding: 100px 0;
  display: flex;
}

.footer-href {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-prg {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  max-width: 264px;
}
.span-href-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.social-media-group-footer {
  position: relative;
}
.bas-prg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media-group-footer-hbas {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-bottom: 15px;
  color: white;
}

/* svg hover  başlangıç */

.social-media-group {
  display: flex;
  justify-content: center;
  
}
.li-icon {
  padding: 10px;
}
.li-icon-footer {
  padding-right: 15px;
}



.icon {
  width: 64px;
  height: 64px;
}
.social-icon {
  width: 40px;
  height: 40px;
  --color2: #4d5ae5;
}
.social-icon:hover {
  --color2: #31d0aa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:focus {
  --color2: #31d0aa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg{
  width: 40px;
  height: 40px;
  --color2: #4d5ae5;
}
.icon-svg:hover{
  --color2: #31d0aa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg:focus {
  --color2: #31d0aa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* svg hover  bitiş */

.subscribe-inp-btn {
  display: flex;
}
.footer-email {
  display: flex;
  width: 264px;
  top: 140px;
  left: 828px;
  border-radius: 4px;
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0);
}

.subscribe-hbas {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #ffffff;
}
.footer-btn {
  width: 165px;
  height: 40px;
  top: 8px;
  right: 24px;
  bottom: 8px;
  left: 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  align-items: center;
  margin-left: 10px;
  display: flex;
  border:none;
}
.footer-btn:hover{
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-icon{
  width: 24px;
  height: 24px;
}
.modal {
  position: fixed;
  display: none;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top:0;
  left:0;
}
.form {
  position: absolute;
  background-color: #fcfcfc;
  flex-direction: column;
  display: flex;
  width: 408px;
  height: 584px;
  top: 10px;
  left: 516px;
  border-radius: 4px;
  gap: 12px;
  border: 1px solid #212121;
  padding: 8px;
  padding-top: 90px;
  
}
.modal.is-open{
  display: block;
}

.form-input {
  padding: 4px;
  color: #212121;
  border: 1px solid;
  border-radius: 4px;
  padding-left: 32px;
  outline: none;
}

.form-input:focus {
 
  border-color:blue;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding: 4px;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
}

.form-textarea:focus {
  border-color: #2196f3;
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: flex;
  flex-direction: column;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  outline: none;
}
.form-label:focus {
  color: #2196f3;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-baslik {
  width: 360px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.form-label-cekbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  color: #757575;
}
.cekbox-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  color: blue;
  text-decoration: underline;
}
.div-cekbox {
  display: flex;
}
.form-btn {
  width: 169px;
  height: 56px;
  left: 635px;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  margin: auto;
  border: none;
}
.form-btn:hover{
  background-color: #404bbf;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea::placeholder {
  color: #2e2f4266;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 4%;
}
.close-icon {
  top: -50px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  width: 24px;
}

.person-icon {
 width:24px;
 padding-top:3px;
}
.phone-icon {
  top: 165px;
 width:24px;
}
.email-icon {
  top: 235px;
 width: 24px;
}
.send-icon {
  position: sticky;
  margin-top: 5px;
  top: 10;
  right: 50px;
}
.subs-span {
  text-align: center;
  padding-left: 25px;
}

.modal-background{
 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}
.modal-background.is-open{
    display: block;
  }
}